.nav-menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;

  &__link {
    position: relative;
    display: inline-block;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8a97a3;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #7cb342;
    }

    &--active {
      color: #7cb342;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;

        width: 100%;
        height: 4px;

        background-color: #7cb342;
        border-radius: 2px;
      }
    }
  }
}
